[Desktop Entry]
Name=ArgoUML
Comment=A UML design tool with cognitive support
Comment[pl]=Środowsko obiektowo zorientowanego projektowania narzędzi UML
Exec=argouml
Terminal=false
MultipleArgs=false
Type=Application
Categories=Development;ProjectManagement;
# vi: encoding=utf-8
